@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

@media (max-width: 499px) {
  .hide-below-500 {
    display: none;
  }
}

.mod-menu-comment {
   display: flex;
}

@media (max-width: 410px) {
  .mod-menu-comment {
      flex-wrap: wrap;
  }
  .mod-menu-comment > :nth-child(2) {
    margin-bottom: 34px;
  }
}